<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Messenger</h2>
        <p>Socket ID: <span id="messengerSocketId"></span></p>
      </div>
      <div class="panel-body" id="messengerMessagesContainer">
        <div>Connected.</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" id="sendToDropdownLabel" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">To <span id="sendToDropdownLabelId"></span> <span class="caret"></span></button>
        <ul class="dropdown-menu" id="sendToDropdown">
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" id="messageInput" placeholder="Enter message here...">
      <span class="input-group-btn">
        <button class="btn btn-default" id="sendMessageButton" type="button">Send</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<template id="messageTemplate">
  <div class="messageContainer">
    <span class="socketId"></span>: <span class="message"></span>
  </div>
</template>

<template id="sendToTemplate">
  <li class="sendToOption"><a>To <span class="sendToId"></span></a></li>
</template>
