<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Profile Pic</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="usersTable">
    </tbody>
  </table>
</div>

<template id="userRowTemplate">
  <tr>
    <td class="firstName"></td>
    <td class="lastName"></td>
    <td class="email"></td>
    <td class="profilePic"></td>
    <td class="actions"></td>
  </tr>
</template>
